extends layout

block content
  .container
    br
    if (post.answered)
      .panel.panel-success
        .panel-heading
          h2 #{post.title}
        .panel-body
          p #{post.postText}
        .panel-footer
          p by 
            b #{post.user.userName}
            | , bounty: 
            b #{post.bounty.toString()}
    else
      .panel.panel-primary
        .panel-heading
          h2 #{post.title}
        .panel-body
          p #{post.postText}
        .panel-footer
          p by 
            b #{post.user.userName}
            | , bounty: 
            b #{post.bounty.toString()}

    br
    hr
    br

    each ans in answers
      br
      if (ans.accepted)
        .panel.panel-success
          .panel-heading
            h4 Accepted
          .panel-body
            p #{ans.answerText}
          .panel-footer
            p by 
              b #{ans.user.userName}
      else if (!post.answered && current_user_logged_in && post.user.userName == current_user_logged_in.userName)
        .panel.panel-info
          .panel-body
            p #{ans.answerText}
          .panel-footer
            p by 
              b #{ans.user.userName}
            form(action='/posts/#{post._id}/accept-answer/#{ans._id}', method='post')
              input(type='hidden', name='user_receiving_credit', value='#{ans.user.userName}')
              button.btn.btn-success(type='submit') Accept Answer
      else
        .panel.panel-info
          .panel-body
            p #{ans.answerText}
          .panel-footer
            p by 
              b #{ans.user.userName}

      br
      hr
    
    if (!logged_in)
      p
        a(href='/login') Log in 
        | to answer this question!
    else if (post.user.userName != current_user_logged_in.userName)
      header Type Your Answer:
      form(action='/answers', method='post')
        textarea.form-control(name='answerText', rows='5')
        input(type='hidden', name='post', value='#{post._id}')
        br
        button.btn.btn-success(type='submit') Submit Answer

      
